<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580708244205-kor63lpq62nsd09fq1hbskmgo7qgjdhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580708244205-kor63lpq62nsd09fq1hbskmgo7qgjdhu</string>
	<key>API_KEY</key>
	<string>AIzaSyDfLSP45uEifM_FXZyCoxXXW3k4fVl7Lqk</string>
	<key>GCM_SENDER_ID</key>
	<string>580708244205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.WhatsAppClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-c2023</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-c2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580708244205:ios:b4ddb8bbae45d2cee84ae4</string>
	<key>DATABASE_URL</key>
	<string>https://whatsapp-c2023-default-rtdb.firebaseio.com</string>
</dict>
</plist>